@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
@import "./keyboard-styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #212122;
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;

  i {
    transition: 0.3s all ease-in;
    cursor: pointer;

    &:hover {
      transition: 0.3s all ease-in;
      color: #ef3124;
    }
  }

  .header {
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #353535;
    color: #fff;
    height: 8vh;
    border-bottom: solid #6b6b6b 1px;

    .header__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo__img {
        height: 50px;
      }

      .search {
        display: flex;
        align-items: center;

        .search__input {
          background-color: #212122;
          margin: 0 5px;
          padding: 3px;
          color: #fff;
        }

        .search__btn {
          height: 20px;
        }
      }
    }
  }

  .main {
    display: grid;
    height: 87vh;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: 0.3fr 1fr 1.3fr;
    grid-template-areas:
      "info info table"
      "list map table"
      "list map chart";
    grid-gap: 0.5rem;

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-left: solid #6b6b6b 1px;
      border-right: solid #6b6b6b 1px;
      border-bottom: solid #000 3px;
      transition: 0.3s all ease;
      .full-screen__btn {
        position: absolute;
        left: 0;
        top: 3%;
        font-size: 20px;
        color: white;
        z-index: 20;
        transition: all 0.3 ease-in;
        cursor: pointer;
        &:hover {
          transition: all 0.3 ease-in;
          color: #ef3124;
          transform: scale(1.2);
        }
      }
    }
    .container_active {
      position: absolute;
      width: 100%;
      transition: 0.3s all ease;
    }

    .container_info {
      grid-area: info;
      background: #212122;
      color: #ef3124;
      font-size: 46px;
      font-weight: bold;
    }

    .container_table {
      display: flex;
      flex-direction: column;
      background: #3a3939;
      grid-area: table;
      flex-direction: column;
      justify-content: space-between;
    }

    .list {
      background: #3a3939;
      color: white;
      font-weight: bold;
      grid-area: list;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      &__title {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        border-bottom: solid 1px #5a5b5d;

        &-info {
          min-height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
          word-wrap: break-word;
          border-left: solid 1px #5a5b5d;
          border-right: solid 1px #5a5b5d;
        }
      }

      &__left-button,
      &__rigth-button {
        width: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        overflow-y: scroll;
      }

      &__content::-webkit-scrollbar {
        width: 5px;
        background-color: #e4e4e4;
      }

      &__content::-webkit-scrollbar-thumb {
        background-color: #ef3124;
        border-radius: 5px;
      }

      &__item {
        padding: 5px 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px #5a5b5d;

        &__flag {
          background-size: contain;
          background-repeat: no-repeat;
          height: 1rem;
          width: 1.5rem;
        }

        &__country {
          padding: 2px 4px;
          flex-grow: 1;
        }

        &__value {
          color: #c0c0c0;
        }
      }
    }

    .container_map {
      grid-area: map;
    }

    .container_chart {
      background: #3a3939;
      grid-area: chart;
      flex-direction: column;
      justify-content: space-between;

      .chart-canvas {
        width: 100% !important;
        height: unset !important;
        flex-grow: 1;
      }
    }

    .table {
      height: auto;
      color: #c0c0c0;
      font-size: 18px;
      height: 200px;
      position: relative;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
    }

    .table-wrapper {
      overflow: auto;
      border-bottom: solid #6b6b6b 1px;
    }

    .table-wrapper::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: #e4e4e4;
    }

    .table-wrapper::-webkit-scrollbar-thumb {
      background-color: #ef3124;
      border-radius: 5px;
    }

    .table-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #fff;
      margin: 5px;
      font-size: 16px;
      border-bottom: solid #6b6b6b 3px;

      &_item {
        padding: 5px;
      }
    }

    .table-title {
      color: #fff;
      padding: 5px;
      width: 100%;
      background-color: #272829;
      border-bottom: solid #6b6b6b 1px;
    }

    tr {
      font-size: 14px;
      border-bottom: solid 1px #5a5b5d;
    }

    td {
      padding: 7px;
      overflow-x: hidden;
    }

    .button-container {
      &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .btn {
      margin: 3px 5px;
      background-color: #383636;
      color: #c0c0c0;
      border-radius: 2px;
      cursor: pointer;
    }

    .btn-toggle {
      width: 55px;
    }

    .display-current-indicator {
      background-color: rgb(184, 184, 184);
      width: 130px;
      color: #000;
    }

    .map-controller {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      padding: 2px;
      position: absolute;
      z-index: 2;
      bottom: 0;
      background-color: #272829;
      font-size: 14px;
    }

    .table-controller {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding: 2px;
      background-color: #272829;
    }

    .list-controller {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 5px;
      background-color: #272829;
    }

    .button-container__wrapper {
      width: 100%;
      justify-content: center;
    }

    .chart-controller {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      background-color: #272829;
      font-size: 14px;
    }

    .list__item__country {
      cursor: pointer;
    }

    .toggle-active {
      background-color: #691916;
    }

    .btn:active {
      background-color: #691916;
    }

    .mapboxgl-map {
      position: relative;
    }

    .marker {
      background-color: #ef3124;
      background-size: cover;
      border-radius: 50%;
      cursor: pointer;
    }

    .mapboxgl-popup {
      max-width: 200px;
    }

    .mapboxgl-popup-content {
      text-align: center;
      font-family: "Open Sans", sans-serif;
    }

    .map-legend {
      display: none;
      background-color: #fff;
      border-radius: 3px;
      top: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
      padding: 10px;
      position: absolute;
      right: 10px;
      z-index: 1;
      text-align: left;
    }

    .map-legend h4 {
      margin: 0 0 10px;
    }

    .map-legend div span {
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      margin-right: 5px;
      width: 10px;
      background-color: #ef3124;
    }

    .map-legend-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;
      width: 20px;
      height: 20px;
      background-color: #797575;
      border-radius: 2px;
      cursor: pointer;
      color: #fff;
      text-align: center;
      font-weight: 600;
      display: flex;
      justify-content: center;
    }

    .mapboxgl-popup {
      display: none;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 1;
      min-width: 150px;
      background-color: #c0c0c0;

      &-content {
      }

      &-close-button {
      }
    }

    .mapboxgl-ctrl-attrib.mapboxgl-compact {
      bottom: 25px;
    }

    .active {
      display: block;
    }
  }

  .footer {
    padding: 0 15px;
    background-color: #353535;
    border-top: solid #6b6b6b 1px;
    width: 100%;
    max-height: 5vh;

    .footer__container {
      padding: 2px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer__img {
        height: 20px;
        transition: 0.3s all ease-in;

        &:hover {
          transform: scale(1.1);
          transition: 0.3s all ease-in;
        }
      }

      .footer__year {
        font-size: 17px;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  body {
    .header {
      .header__title {
        display: none;
      }
    }

    .main {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 0.5fr 1fr 1fr 2.3fr;
      grid-template-areas:
        "info map"
        "list map"
        "list map"
        "chart table";

      .list {
        grid-area: list;
        height: 100%;
        overflow-y: hidden;
      }

      .container_table {
        grid-area: table;
        height: 100%;
        overflow: hidden;
      }
    }

    .footer {
      height: unset;
    }
  }
}

@media only screen and (max-width: 650px) {
  body {
    .header {
      height: unset;
    }

    .main {
      padding: 0 15px;
      height: unset;
      grid-template-columns: 1fr;
      grid-template-rows: 0.01fr 0.05fr 0.05fr 0.05fr 0.05fr;
      grid-template-areas:
        "info"
        "list"
        "table"
        "map"
        "chart";

      .list {
        grid-area: list;
        height: 100%;
        overflow-y: hidden;
      }

      .container_table {
        grid-area: table;
        height: 100%;
        overflow-y: hidden;
      }
    }

    .footer {
      height: unset;
    }
  }
}
